<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <div class="bg-primary text-white">
<h1 style="text-align: center;">Tech weirdo Project  by JItendra Kumar</h1>
</div>
<form >
  <label for="event">Event:</label>
  <input type="date" id="birthday" name="event">
  <input type="submit">
</form>

<div id="calendar"></div>
